[project]
	description = Building an innocent Java game
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Alexandar Apostolov (CharlieScarver)
[access "refs/for/refs/*"]
	read = group user/Alexandar Apostolov (CharlieScarver)
	push = group user/Alexandar Apostolov (CharlieScarver)
	label-Code-Review = -2..+2 group user/Alexandar Apostolov (CharlieScarver)
	label-Verified = -1..+1 group user/Alexandar Apostolov (CharlieScarver)
	rebase = group user/Alexandar Apostolov (CharlieScarver)
	removeReviewer = group user/Alexandar Apostolov (CharlieScarver)
	submit = group user/Alexandar Apostolov (CharlieScarver)
[access "refs/heads/*"]
	read = group user/Alexandar Apostolov (CharlieScarver)
	create = group user/Alexandar Apostolov (CharlieScarver)
	push = +force group user/Alexandar Apostolov (CharlieScarver)
	pushMerge = group user/Alexandar Apostolov (CharlieScarver)
[access "refs/tags/*"]
	push = +force group user/Alexandar Apostolov (CharlieScarver)
	pushTag = group user/Alexandar Apostolov (CharlieScarver)
	pushSignedTag = group user/Alexandar Apostolov (CharlieScarver)
